<template>


    <div class="container-fluid">

        <br>

        <div class="row">


            <div class="col-md-5" v-if="lists.length">
                <select class="form-control border-input" name="ambit" v-model="selected">
                    <option disabled value="">Seleccione un ámbito</option>
                    <option v-for="item in searchAmbit" v-bind:value="item">
                        {{ item.title }}
                    </option>
                </select>
            </div>

            <div class="col-md-2" v-if="lists.length">
                <button class="btn btn-success"
                        type="button" v-if="selected" v-on:click="setData">Agregar
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Ámbitos del perfil de Egreso</label>
                    <textarea type="text" name="profile_ambits" class="form-control border-input"
                              rows="3"
                              v-model="profile_ambits"
                              placeholder="Describa aquí los ámbitos o agréguelos con el botón auxiliar"></textarea>
                </div>
            </div>


        </div>


    </div>

</template>

<script>

    export default {
        props: ['pprofile_ambits'],
        data: function () {
            return {
                lists: [],
                title: '',
                selected: '',
                profile_ambits: ''
            }
        },
        mounted: function () {

            this.getAmbits();
            this.profile_ambits = this.pprofile_ambits;
        },
        methods: {
            getAmbits: function () {
                let directory = '/api';
                var urlAmbits = window.location.origin + directory + '/GetAmbits';

                axios.get(urlAmbits).then((response) => {
                    this.lists = response.data;
                })

            },

            setData: function () {

                if (this.profile_ambits == null)
                    this.profile_ambits = this.selected['title'] + "\n" + this.selected['desc'] + "\n";
                else
                    this.profile_ambits = this.profile_ambits + "\n" + this.selected['title'] + "\n" + this.selected['desc'] + "\n";
            }
        },
        computed:
            {
                searchAmbit: function () {
                    return this.lists.filter((item) => item.title.includes(this.title));
                }
            }
    }
</script>
