<template>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Estado</label>
                <select v-model="state.id" v-on:change="onChange" id="state" class="form-control border-input" name="state">
                    <option value="0" disabled selected>Selecciona tu Estado</option>
                    <option v-for="itemstate in this.states" v-bind:value="itemstate.id">
                        {{ itemstate.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Municipio</label>
                <select v-model="town.id" id="town" class="form-control border-input" name="town_id">
                    <option value="0" disabled selected>Selecciona tu Municipio</option>
                    <option v-for="itemtown in this.towns" v-bind:value="itemtown.id"> {{ itemtown.name }} </option>
                </select>
            </div>
        </div>
    </div>

</template>

<script>

    export default {

        props: ['state', 'town'],
        mounted() {
            let directory = '/api';

            axios.get(window.location.origin + directory + '/GetStates')
                .then((response) => {
                    this.states = response.data;
                })

            let towns = ''

            if (this.state != null) {

                let directory = '/api';

                towns = axios.get(window.location.origin + directory + '/GetTowns/' + this.state.id)
                    .then((response) => {
                        this.towns = response.data;
                    })
            }

        },
        data: function () {
            return {

                states: [],
                towns: []

            }
        },
        methods: {
            onChange: function () {
                this.setState(this.state);

            },


            setState: function (newValue) {
                this.state = newValue;
                this.GetTowns();
                this.town.id = 0;
            },

            setTown: function (newValue) {
                this.town = newValue;
            },
            GetTowns: function () {

                let towns = ''
                let directory = '/api';

                towns = axios.get(window.location.origin + directory + '/GetTowns/' + this.state.id)
                    .then((response) => {
                        this.towns = response.data;
                    })


                return towns

            }

        }
    }
</script>
