<template>


    <div class="container-fluid">

        <br>

        <div class="row">
            <div class="col-md-12" v-if="!lists.length">
                <button type="button"
                        v-on:click="getMethods"
                        class="btn btn-primary">Estrategias
                </button>

            </div>

            <div class="col-md-5" v-if="lists.length">

                <input type="text" placeholder="Filtrar métodos(Opcional)" v-model="title"
                       class="form-control border-input">

            </div>

            <div class="col-md-5" v-if="lists.length">
                <select class="form-control border-input" name="method" v-model="selected">
                    <option disabled value="">Seleccione un método</option>
                    <option v-for="item in searchMethod" v-bind:value="item">
                        {{ item.title }}
                    </option>
                </select>
            </div>

            <div class="col-md-2" v-if="lists.length">
                <button class="btn btn-success"
                        type="button" v-if="selected" v-on:click="setData">Aplicar
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Docente</label>
                    <textarea type="text" name="teacher" class="form-control border-input"
                              rows="3"
                              v-model="teacher"
                              placeholder="Describa aquí las actividades del docente"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Estudiante</label>
                    <textarea type="text" name="student" class="form-control border-input"
                              rows="3"
                              v-model="student"
                              placeholder="Describa las actividades de los estudiantes"></textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Recursos</label>
                    <textarea type="text" name="resources" class="form-control border-input"
                              rows="3"
                              v-model="resources"
                              placeholder="Describa los recursos y materiales a considerar"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Productos de Aprendizaje</label>
                    <textarea type="text" name="product" class="form-control border-input"
                              rows="3"
                              v-model="product"
                              placeholder="Describa los productos resultantes de llevar la actividad"></textarea>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Tipo Evaluación</label>
                    <select name="eva_kind" v-model="eva_kind" class="form-control border-input">
                        <option disabled value="">Seleccione</option>
                        <option value="1">Heteroevaluación</option>
                        <option value="2">Autoevaluación</option>
                        <option value="3">Coevaluación</option>
                        <option value="4">Mixta</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Instrumento</label>
                    <select name="eva_tool" v-model="eva_tool" class="form-control border-input">
                        <option disabled value="">Seleccione</option>
                        <option value="1">Rúbrica</option>
                        <option value="2">Guía de Observación</option>
                        <option value="3">Lista de Cotejo</option>
                        <option value="4">Examen</option>
                        <option value="5">Escala Estimativa</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Ponderación (%)</label>
                    <input type="text" name="eva_percent" class="form-control border-input" number="true"
                           v-model="eva_percent"
                           placeholder="% de Evaluación">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Tiempo Estudiante</label>
                    <input type="text" name="time_student" class="form-control border-input"number="true"
                           v-model="time_student"
                           placeholder="Indicar en decimales las horas que emplea esta actividad al alumno">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Tiempo</label>
                    <input type="text" name="time" class="form-control border-input" number="true"
                           v-model="time"
                           placeholder="Indicar en decimales las horas que emplea esta actividad en general">
                </div>
            </div>

        </div>

    </div>

</template>

<script>

    export default {
        props: ['pteacher', 'pstudent', 'presources', 'pproduct', 'peva_tool', 'peva_percent', 'peva_kind', 'ptime','ptime_student','puser'],
        data: function () {
            return {
                lists: [],
                title: '',
                selected: '',
                teacher: '',
                student: '',
                resources: '',
                product: '',
                eva_tool: '',
                eva_percent: '',
                eva_kind: '',
                time: '',
                time_student: '',
                userid:''
            }
        },
        mounted: function () {

            this.teacher = this.pteacher;
            this.student= this.pstudent;
            this.resources= this.presources;
            this.product= this.pproduct;
            this.eva_tool= this.peva_tool;
            this.eva_percent= this.peva_percent;
            this.eva_kind= this.peva_kind;
            this.time= this.ptime;
            this.time_student= this.ptime_student;
            this.userid= this.puser;
        },
        methods: {
            getMethods: function () {
                let directory = '/api';
                var urlMethods = window.location.origin + directory + '/GetMethods/'+this.userid;

                axios.get(urlMethods).then((response) => {
                    this.lists = response.data;
                })

            },

            setData: function () {
                this.teacher = this.selected.dev['teacher'];
                this.student = this.selected.dev['student'];
                this.product = this.selected.dev['product'];
                this.time = this.selected.dev['time'];
            }
        },
        computed:
            {
                searchMethod: function () {
                    return this.lists.filter((item) => item.title.includes(this.title));
                }
            }
    }
</script>
