<template>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Especialidad</label>
                <select v-model="specialty.id" v-on:change="onChange" id="specialty" class="form-control border-input"
                        name="specialty">
                    <option value="0"  selected>Área de Básicas</option>
                    <option v-for="itemspecialty in this.specialties" v-bind:value="itemspecialty.id">
                        {{ itemspecialty.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Asignatura</label>
                <select v-model="course.id" v-on:change="onChange2"  group-label="language" id="course" class="form-control border-input" name="course">
                    <option value="0" disabled selected>Selecciona Asignatura</option>
                    <option v-for="itemcourse in this.courses" v-bind:value="itemcourse.id">
                        {{ itemcourse.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Programa</label>
                <select v-model="program.id" id="program" class="form-control border-input" name="program_id">
                    <option value="0" disabled selected>Selecciona Programa</option>
                    <option v-for="itemprogram in this.programs"
                            v-bind:value="itemprogram.id"> {{ itemprogram.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

</template>

<script>

    export default {

        props: ['specialty', 'course','program'],
        mounted() {
            let directory = '/api';

            axios.get(window.location.origin + directory + '/GetSpecialties')
                .then((response) => {
                    this.specialties = response.data;
                })

            let courses = ''

            if (this.specialty != null) {

                let directory = '/api';

                courses = axios.get(window.location.origin + directory + '/GetCourses/' + this.specialty.id)
                    .then((response) => {
                        this.courses = response.data;
                    })
            }

            let programs = ''

            if (this.course != null) {

                let directory = '/api';

                programs = axios.get(window.location.origin + directory + '/GetPrograms/' + this.course.id)
                    .then((response) => {
                        this.programs = response.data;
                    })
            }

        },
        data: function () {
            return {

                specialties: [],
                courses: [],
                programs:[]

            }
        },


        methods: {
            onChange: function () {
                this.setSpecialty(this.specialty);

            },

            onChange2: function () {
                this.setCourse(this.course);

            },


            setSpecialty: function (newValue) {
                this.specialty = newValue;
                this.GetCourses();
                this.course.id = 0;
            },

            setCourse: function (newValue) {
                this.course = newValue;
                this.GetPrograms();
                this.program.id = 0;
            },
            setProgram: function (newValue) {
                this.program = newValue;
            },
            GetCourses: function () {

                let courses = ''
                let directory = '/api';

                courses = axios.get(window.location.origin + directory + '/GetCourses/' + this.specialty.id)
                    .then((response) => {
                        this.courses = response.data;
                    })


                return courses

            },
            GetPrograms: function () {

                let programs = ''
                let directory = '/api';

                programs = axios.get(window.location.origin + directory + '/GetPrograms/' + this.course.id)
                    .then((response) => {
                        this.programs = response.data;
                    })


                return programs

            }

        }
    }
</script>
